* {
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body {
	width: 1280px;
	height: 720px;
	background-color: white;
	font-size: 21px;
}

#header {
	width: 1280px;
	height: 80px;
	
}

#content {
	width: 1280px;
	height: 490px;
}

#info {
	width: 1280px;
	height: 400px;

}

#hours {
	background-color: blue;
	width: 1280px;
	height: 90px;

}

#greenButton {
	background-color: green;
	width: 100px;
	height: 50px;
	float: left;
}

#blueButton {
	background-color: blue;
	width: 100px;
	height: 50px;
	float: left;}

#yellowButton {
	background-color: yellow;
	width: 100px;
	height: 50px;
	float: left;
}

#info {
	width: 640px;
	height: 595px;
	float: left;
}

#advertisement {
	width: 1280px;
	height: 115px;
}

#footer {
	width: 1280px;
	height: 45px;
}